# Importing Data On HealthCare Costs

*Make sure to open terminal and cd to your working directory*

In [5]:
import pandas as pd

## Import heart attack data

In [6]:
ha_costs_df = pd.read_csv('../data/mmd_heart_attack_data.csv')

*Examine the first 5 rows and the last five rows of the TN heart attack  data.*

In [7]:
ha_costs_df.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [8]:
ha_costs_df.tail(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

*Check the data types of each column.*

In [9]:
ha_costs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2656 entries, 0 to 2655
Data columns (total 17 columns):
year                   2656 non-null int64
geography              2656 non-null object
measure                2656 non-null object
adjustment             2656 non-null object
analysis               2656 non-null object
domain                 2656 non-null object
condition              2656 non-null object
primary_sex            2656 non-null object
primary_age            2656 non-null object
primary_dual           2656 non-null object
fips                   2656 non-null int64
county                 2656 non-null object
state                  2656 non-null object
urban                  2656 non-null object
primary_race           2656 non-null object
primary_denominator    2656 non-null object
analysis_value         2656 non-null int64
dtypes: int64(3), object(14)
memory usage: 352.8+ KB

### Keep only the rows where facilities are in TN

In [14]:
TN_heart = ha_costs_df.query('state == "TENNESSEE"')

*Print the dimensions of the data.*

In [17]:
TN_heart.shape

(91, 17)

*See how many TN counties are represented in the heart attack costs data.*

In [19]:
TN_heart.county.nunique()

91

*See how many counties are classified as Urban and how many as Rural.*

In [26]:
Urb_heart = TN_heart.query('urban =="Urban"')

In [27]:
Urb_heart.shape

(38, 17)

In [28]:
Rur_heart = TN_heart.query('urban =="Rural"')

In [29]:
Rur_heart.shape

(53, 17)

*Examine the distribution of costs.*

In [27]:
TN_heart.describe()

         year          fips  analysis_value
count    91.0     91.000000       91.000000
mean   2017.0  47093.615385    45762.989011
std       0.0     55.338708     6574.670462
min    2017.0  47001.000000    30831.000000
25%    2017.0  47046.000000    41105.500000
50%    2017.0  47093.000000    45384.000000
75%    2017.0  47142.000000    49698.500000
max    2017.0  47189.000000    62641.000000

In [30]:
Urb_heart.describe()

         year          fips  analysis_value
count    38.0     38.000000       38.000000
mean   2017.0  47103.789474    45748.921053
std       0.0     60.904071     7109.788921
min    2017.0  47001.000000    32279.000000
25%    2017.0  47049.500000    40452.750000
50%    2017.0  47112.000000    45496.500000
75%    2017.0  47160.500000    50734.500000
max    2017.0  47189.000000    61541.000000

In [31]:
Rur_heart.describe()

         year          fips  analysis_value
count    53.0     53.000000       53.000000
mean   2017.0  47086.320755    45773.075472
std       0.0     50.309723     6232.724885
min    2017.0  47003.000000    30831.000000
25%    2017.0  47045.000000    41240.000000
50%    2017.0  47085.000000    45384.000000
75%    2017.0  47123.000000    48998.000000
max    2017.0  47185.000000    62641.000000

**There does not seem to be a significant difference in heart attack costs between urban and rural counties at first glance.**

## Import Cancer Data

In [32]:
cancer_costs_df = pd.read_csv("../data/mmd_cancer_data.csv")

*Look at the head and tail of the DataFrame*

In [34]:
cancer_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

In [35]:
cancer_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

*Print the shape of the DataFrame.*

In [37]:
cancer_costs_df.shape

(3165, 17)

### Keep only the rows where facilities are in TN.

In [38]:
TN_cancer = cancer_costs_df.query('state == "TENNESSEE"')

*Print the dimensions of the data.*

In [39]:
TN_cancer.info()

(95, 17)

*See how many TN counties are represented in the cancer costs data.*

In [41]:
TN_cancer.county.nunique()

95

*Find which counties are missing from one of the datasets.*

In [44]:
list(set(TN_cancer.county)-set(TN_heart.county))

['Pickett County', 'Van Buren County', 'Moore County', 'Hancock County']

In [45]:
#The above method assumes that we aren't missing any counties from the cancer set that are in the heart set. To remedy this:

cancer_counties = list(TN_cancer.county.unique())
ha_counties = list(TN_heart.county.unique())

list(set(cancer_counties).difference(ha_counties))

['Van Buren County', 'Moore County', 'Hancock County', 'Pickett County']

*Examine the distribution in costs between urban and rural counties.*

In [46]:
Urb_cancer = TN_cancer.query('urban == "Urban"')

In [47]:
Rur_cancer = TN_cancer.query('urban == "Rural"')

In [48]:
Urb_cancer.describe()

         year          fips  analysis_value
count    38.0     38.000000       38.000000
mean   2017.0  47103.789474    19638.605263
std       0.0     60.904071     2712.218435
min    2017.0  47001.000000    15454.000000
25%    2017.0  47049.500000    17674.750000
50%    2017.0  47112.000000    19203.500000
75%    2017.0  47160.500000    20556.750000
max    2017.0  47189.000000    27740.000000

In [49]:
Rur_cancer.describe()

         year          fips  analysis_value
count    57.0     57.000000       57.000000
mean   2017.0  47089.140351    19837.421053
std       0.0     50.642810     2255.416100
min    2017.0  47003.000000    15531.000000
25%    2017.0  47049.000000    18328.000000
50%    2017.0  47087.000000    19633.000000
75%    2017.0  47129.000000    21315.000000
max    2017.0  47185.000000    25909.000000

In [50]:
TN_cancer.describe()

         year          fips  analysis_value
count    95.0     95.000000       95.000000
mean   2017.0  47095.000000    19757.894737
std       0.0     55.136195     2436.304533
min    2017.0  47001.000000    15454.000000
25%    2017.0  47048.000000    18103.500000
50%    2017.0  47095.000000    19563.000000
75%    2017.0  47142.000000    21153.000000
max    2017.0  47189.000000    27740.000000

**There does not seem to be a significant difference between cancer costs at first glance between rural and urban counties in TN.**

## Import the IRS income data.

In [52]:
income_df = pd.read_csv("../data/irs_county_2016.csv")

### Keep only the income data that pertains to TN.

In [54]:
TN_income = income_df.query('STATE == "TN"')

*Look at the head and tail of the DataFrame.*

In [55]:
TN_income.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
19752,47,TN,0,Tennessee,1,39580,22400,14440,980,25390,...,6760,17669,200,287,0,0,3970,7167,16170,59567
19753,47,TN,0,Tennessee,2,439770,345410,39920,49300,188490,...,109250,62045,0,0,0,0,37380,18477,366150,366510
19754,47,TN,0,Tennessee,3,717430,398720,115040,189290,341750,...,449870,461060,0,0,0,0,63270,70761,635450,1870568
19755,47,TN,0,Tennessee,4,759340,355970,217710,159890,347430,...,629080,1669328,110,100,0,0,104290,176690,646420,1783890
19756,47,TN,0,Tennessee,5,396810,128390,215890,42240,198820,...,382580,2135577,30,29,0,0,87440,220372,302390,849648

In [56]:
TN_income.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
20515,47,TN,189,Wilson County,4,14400,7130,4050,2610,6520,...,12340,34654,0,0,0,0,2090,4150,12140,31712
20516,47,TN,189,Wilson County,5,9330,2890,5160,960,4600,...,9010,50591,0,0,0,0,2080,5356,7100,19970
20517,47,TN,189,Wilson County,6,7160,1060,5630,380,3560,...,7110,61964,0,0,0,0,1710,5743,5290,17041
20518,47,TN,189,Wilson County,7,10350,780,9260,240,5330,...,10330,190229,60,13,0,0,3810,19921,6270,24591
20519,47,TN,189,Wilson County,8,2370,180,2130,50,1700,...,2370,230759,1160,1817,1080,3775,1260,39698,880,9411

*Look at the shape of the DataFrame.*

In [57]:
TN_income.shape

(768, 148)

*Keep only the following columns:  `['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']`*

In [59]:
TN_income_short = TN_income[['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']]

*Rename those columns: `['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']`*

In [60]:
TN_income_short.columns = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

*Create `income_dict`, a dictionary that uses the numerical codes in the income bucket column as keys and the matching descriptions*

In [62]:
TN_income_short.income_bucket.unique()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
#Total is anything with Tennessee in the county column
#1 = 'Under $1'
# and going up from there
#use syntax dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 
#need to change the 'income_bucket' column in cases where TN is the county
#then I can use the dictionary

In [77]:
TN_income_short.query('income_bucket == "1"')

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19760,TN,Anderson County,1,390,220,140,0,570,60,210,-7663,240,-7465,0,0
19768,TN,Bedford County,1,350,180,160,0,560,60,190,-29152,270,-28891,0,0
19776,TN,Benton County,1,140,70,60,0,220,20,80,-5320,110,-5172,0,0
19784,TN,Bledsoe County,1,110,50,60,0,190,20,60,-2937,90,-2889,0,0
19792,TN,Blount County,1,700,390,280,0,1060,120,390,-30354,500,-29884,0,0
19800,TN,Bradley County,1,610,320,250,0,950,110,320,-53843,470,-52991,0,0
19808,TN,Campbell County,1,190,80,100,0,300,20,100,-9282,110,-9213,0,0
19816,TN,Cannon County,1,110,50,50,0,170,0,70,-2126,90,-2069,0,0
19824,TN,Carroll County,1,170,70,90,0,290,40,100,-4381,120,-4214,0,0
19832,TN,Carter County,1,310,160,130,0,480,40,170,-6648,210,-6456,0,0
19840,TN,Cheatham County,1,250,160,90,0,360,30,130,-5330,170,-5211,0,0
19848,TN,Chester County,1,120,50,60,0,210,40,60,-3623,80,-3522,0,0
19856,TN,Claiborne County,1,260,120,130,0,430,50,160,-6712,190,-6544,0,0
19864,TN,Clay County,1,90,40,40,0,150,0,50,-3084,70,-3084,0,0
19872,TN,Cocke County,1,190,90,80,0,290,0,120,-7877,130,-7782,0,0
19880,TN,Coffee County,1,320,160,130,0,510,60,160,-20724,250,-20464,0,0
19888,TN,Crockett County,1,130,50,70,0,210,30,60,-10529,100,-10420,0,0
19896,TN,Cumberland County,1,440,200,220,0,710,60,290,-16506,340,-16271,0,0
19904,TN,Davidson County,1,4400,3220,870,170,5720,780,1470,-383932,3210,-378362,20,129
19912,TN,Decatur County,1,110,50,60,0,180,30,60,-2566,90,-2515,20,71
19920,TN,DeKalb County,1,150,60,90,0,260,20,100,-18248,140,-18058,0,0
19928,TN,Dickson County,1,320,160,130,0,510,70,170,-8946,230,-8666,0,0
19936,TN,Dyer County,1,200,90,100,0,340,50,120,-11753,160,-11630,0,0
19944,TN,Fayette County,1,330,160,140,0,530,70,170,-24666,270,-24320,0,0
19952,TN,Fentress County,1,160,70,90,0,280,30,100,-8784,130,-8657,0,0
19960,TN,Franklin County,1,300,140,150,0,500,60,190,-15475,250,-15155,0,0
19968,TN,Gibson County,1,330,180,130,0,520,80,150,-13538,250,-13341,0,0
19976,TN,Giles County,1,220,100,110,0,380,50,130,-8528,180,-8274,0,0
19984,TN,Grainger County,1,140,70,70,0,230,20,100,-2577,100,-2577,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20280,TN,Obion County,1,210,100,100,0,350,50,130,-14702,170,-14563,0,0
20288,TN,Overton County,1,150,70,80,0,240,0,110,-4630,120,-4536,0,0
20296,TN,Perry County,1,60,20,30,0,110,20,30,-1617,40,-1617,0,0
20304,TN,Pickett County,1,40,0,20,0,80,0,30,-1277,30,-1277,0,0
20312,TN,Polk County,1,120,50,60,0,200,20,70,-2704,90,-2571,0,0
20320,TN,Putnam County,1,490,260,200,0,740,70,260,-39646,380,-39270,0,0
20328,TN,Rhea County,1,180,90,80,0,290,30,100,-14211,130,-14082,0,0
20336,TN,Roane County,1,290,150,120,0,450,60,160,-8373,200,-8175,0,0
20344,TN,Robertson County,1,460,230,190,20,720,100,240,-25457,360,-25023,0,0
20352,TN,Rutherford County,1,1270,810,360,60,1830,280,510,-66200,860,-64898,0,0
20360,TN,Scott County,1,110,40,60,0,180,0,70,-8304,80,-8215,0,0
20368,TN,Sequatchie County,1,100,50,40,0,160,20,50,-2406,60,-2406,0,0
20376,TN,Sevier County,1,810,400,340,40,1270,160,440,-56531,640,-55804,0,0
20384,TN,Shelby County,1,4460,2960,1080,250,6220,1020,1830,-411780,2960,-407163,30,88
20392,TN,Smith County,1,140,70,60,0,210,0,80,-2744,110,-2701,0,0
20400,TN,Stewart County,1,110,50,50,0,180,20,60,-2170,70,-2170,0,0
20408,TN,Sullivan County,1,900,500,340,30,1360,160,490,-50486,650,-49812,0,0
20416,TN,Sumner County,1,1050,560,400,50,1680,280,510,-69691,800,-68623,0,0
20424,TN,Tipton County,1,300,190,100,0,440,60,150,-13060,210,-12885,0,0
20432,TN,Trousdale County,1,70,50,20,0,100,0,50,-3542,60,-3542,0,0
20440,TN,Unicoi County,1,110,70,50,0,180,0,70,-3289,70,-3184,0,0
20448,TN,Union County,1,130,60,60,0,200,20,70,-3074,90,-3034,0,0
20456,TN,Van Buren County,1,50,20,30,0,110,30,30,-886,40,-886,0,0
20464,TN,Warren County,1,300,140,150,0,490,50,190,-21703,270,-21450,0,0
20472,TN,Washington County,1,770,470,240,30,1080,110,360,-27095,560,-26348,0,0
20480,TN,Wayne County,1,150,60,80,0,260,30,80,-6462,120,-6427,0,0
20488,TN,Weakley County,1,200,90,90,0,340,50,110,-8258,160,-8055,0,0
20496,TN,White County,1,200,90,110,0,330,20,120,-4409,160,-4362,0,0
20504,TN,Williamson County,1,1600,870,610,60,2690,700,570,-242930,1360,-240149,0,0
20512,TN,Wilson County,1,760,410,300,30,1170,150,380,-39647,600,-38695,0,0

In [76]:
TN_income_short

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894
19757,TN,Tennessee,6,241730,43690,182110,12690,606940,183160,71640,20916820,241730,21167809,6350,21411
19758,TN,Tennessee,7,298270,33380,254300,8230,807590,255170,91150,39800165,298270,40397276,5490,20281
19759,TN,Tennessee,8,97920,8640,85910,1760,281650,97810,31990,50066256,97920,51122320,560,2401
19760,TN,Anderson County,1,390,220,140,0,570,60,210,-7663,240,-7465,0,0
19761,TN,Anderson County,2,5170,4010,500,610,5330,1260,950,27496,5170,28135,60,156
19762,TN,Anderson County,3,8190,4670,1500,1840,13930,4590,1950,140592,8190,142497,180,597
19763,TN,Anderson County,4,8280,3750,2810,1440,16160,5090,2030,298169,8280,300960,200,699
19764,TN,Anderson County,5,4630,1390,2720,420,10470,3110,1510,284857,4630,287608,140,539
19765,TN,Anderson County,6,2950,510,2270,130,7320,2110,1090,255501,2950,257993,60,236
19766,TN,Anderson County,7,3850,380,3350,110,10020,2820,1530,516344,3850,521922,60,225
19767,TN,Anderson County,8,830,60,740,0,2150,580,400,292013,830,298832,0,0
19768,TN,Bedford County,1,350,180,160,0,560,60,190,-29152,270,-28891,0,0
19769,TN,Bedford County,2,3010,2230,340,410,3410,940,570,16447,3010,16807,40,86
19770,TN,Bedford County,3,5240,2620,950,1570,9920,3980,990,91011,5240,92214,110,275
19771,TN,Bedford County,4,6140,2580,1820,1550,13430,5500,1010,220417,6140,222211,120,315
19772,TN,Bedford County,5,2810,680,1790,300,7100,2490,690,172994,2810,174984,70,153
19773,TN,Bedford County,6,1560,160,1340,50,4240,1340,400,134313,1560,135743,40,113
19774,TN,Bedford County,7,1500,110,1350,30,4120,1270,450,193908,1500,196889,30,81
19775,TN,Bedford County,8,310,40,260,0,770,210,130,171214,310,175952,0,0
19776,TN,Benton County,1,140,70,60,0,220,20,80,-5320,110,-5172,0,0
19777,TN,Benton County,2,1100,770,170,150,1360,350,280,6035,1100,6202,20,40
19778,TN,Benton County,3,1850,880,470,470,3470,1190,510,31383,1850,31821,90,231
19779,TN,Benton County,4,1650,600,720,280,3440,1080,470,59431,1650,60110,120,373
19780,TN,Benton County,5,850,210,560,70,1940,530,290,51920,850,52520,80,260
19781,TN,Benton County,6,490,70,410,30,1230,330,180,42310,490,42785,20,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20490,TN,Weakley County,3,3360,1780,750,760,5870,1920,850,57683,3360,58521,180,451
20491,TN,Weakley County,4,3270,1320,1250,590,6700,2180,770,116175,3270,117571,230,460
20492,TN,Weakley County,5,1750,360,1230,120,4400,1410,480,107918,1750,109053,100,258
20493,TN,Weakley County,6,1010,120,860,50,2670,800,330,87228,1010,88361,40,125
20494,TN,Weakley County,7,900,100,810,0,2460,750,330,116840,900,118876,20,82
20495,TN,Weakley County,8,180,0,160,0,460,130,90,74280,180,76050,0,0
20496,TN,White County,1,200,90,110,0,330,20,120,-4409,160,-4362,0,0
20497,TN,White County,2,1860,1350,290,190,2130,450,390,9905,1860,10157,40,74
20498,TN,White County,3,3080,1540,760,720,5670,1940,720,53397,3080,54275,120,276
20499,TN,White County,4,2890,1050,1260,490,6240,2100,660,103095,2890,104092,90,181
20500,TN,White County,5,1530,270,1150,90,3830,1160,420,93302,1530,94250,70,134
20501,TN,White County,6,750,60,680,20,2090,660,220,64862,750,65462,40,105
20502,TN,White County,7,610,70,550,0,1640,480,210,77829,610,78937,0,0
20503,TN,White County,8,110,0,100,0,300,90,50,40277,110,41660,0,0
20504,TN,Williamson County,1,1600,870,610,60,2690,700,570,-242930,1360,-240149,0,0
20505,TN,Williamson County,2,14170,12940,680,420,6760,1060,1640,63757,14170,66080,70,207
20506,TN,Williamson County,3,11970,8590,1810,1350,16030,3930,2890,204554,11970,210313,130,507
20507,TN,Williamson County,4,15000,8190,4170,2090,27130,8140,3540,553344,15000,567256,250,1038
20508,TN,Williamson County,5,11410,4210,5610,1220,25110,8120,3280,708202,11410,725157,220,697
20509,TN,Williamson County,6,10010,2100,7070,620,26240,9170,2990,873276,10010,890366,210,743
20510,TN,Williamson County,7,23520,2170,20310,810,71080,27280,5840,3313474,23520,3378406,410,1365
20511,TN,Williamson County,8,15450,790,14260,310,51170,21470,3380,7627633,15450,7785645,140,568
20512,TN,Wilson County,1,760,410,300,30,1170,150,380,-39647,600,-38695,0,0
20513,TN,Wilson County,2,8460,7070,690,570,6710,1380,1420,43692,8460,44964,60,202
20514,TN,Wilson County,3,11330,7160,1850,2040,17420,5260,2650,194030,11330,197522,200,673
20515,TN,Wilson County,4,14400,7130,4050,2610,27040,8660,3140,526285,14400,534076,260,816
20516,TN,Wilson County,5,9330,2890,5160,960,21000,6520,2440,577200,9330,585294,160,530
20517,TN,Wilson County,6,7160,1060,5630,380,18780,6000,1910,621704,7160,629408,130,485
20518,TN,Wilson County,7,10350,780,9260,240,29640,10040,2600,1384798,10350,1404054,170,600
20519,TN,Wilson County,8,2370,180,2130,50,6720,2220,700,948065,2370,968457,30,118

In [ ]:
#income_dict = dict({'Total', 'Under $1', 'Between 1 and $10,000', 'Between 10,000 and $25,000','Between 25,000 and $50,000', 'Between 50,000 and $75,000', 'Between 75,000 and $100,000', 'Between 100,000 and $200,000', '$200,000 or more']